* {
    box-sizing: border-box;
}

body {
    background-image: url('pexels-tima-miroshnichenko-5327534.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhai 2', cursive;
}

.left {
    color: white;
    /* border: 2px solid rgb(25, 106, 182); */
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;

}

.middle {
    color: white;
    border: 2px solid rgb(26, 123, 213);
    background-color: rgb(9, 142, 213);
    border-radius: 50px;
    display: block;
    margin: auto;
    width: 36%;
    margin-top: 20px;
}

.navbar li {
    display: inline-block;
    list-style: none;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
}

.navbar ul li a:hover {
    /* background-color: rgb(113, 164, 192); */
    color: rgb(6, 29, 53);
}

.navbar ul li a:active {
    font-weight: bold;
    color: rgb(6, 29, 53);
}


.right {
    color: white;
    /* border: 2px solid rgb(26, 123, 213); */
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.left img {
    width: 80px;
    filter: invert(100%);
}

.logo {
    /* color: white; */
    text-align: center;
}

.btn {
    background-color: rgb(6, 81, 193);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 5px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn:hover {
    background-color: rgb(2, 36, 69);
    color: rgb(245, 248, 251);
}

.btn:active {
    background-color: rgb(77, 165, 213);
    color: rgb(6, 29, 53);
}

.form {
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 123px;
    margin-left: 10px;
    width: 500px;
    color: white;
    padding: 20px;
    text-align: center;
}

.form-group {
    width: 70%;
    border-radius: 8px;
    padding-left: 10px;
    margin: auto;
    font-family: 'Baloo Bhai 2', cursive;
}
